# Build output
build/
out/
cmake-build-*/
x64/
x86/
Debug/
Release/
MinSizeRel/
RelWithDebInfo/

# IDE files
.vs/
.vscode/
*.user
*.suo
*.sln.docstates
*.vcxproj.user
*.code-workspace

# Compiled objects
*.obj
*.o
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp

# NuGet / FetchContent cache
_deps/
packages/

# OS files
Thumbs.db
Desktop.ini
.DS_Store


# cmd files
versionmodifier.cmd
GITRelease.md
